*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,body {
     background: #111;
}


.box{
    background-color:transparent;
    color:white;
    width:100%; 
    gap: 1rem;
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
}
